body {
    background-color: #111;
}

.colorwhite {
    color: #eee;
}

.purpleGrain {
    color: #710096;
}

.greenApple {
    color: #7dff00;
}

.blueHeart {
    color: #017eff;
}

input.placeholderSize::-webkit-input-placeholder {
    font-size: 11pt;
}
.registerZ
{
  z-index: 1!important;
}
.register
{
  z-index: 1!important;
  background-color:#710096!important;
  color: #eee !important;
  font-weight: bold !important;
  border-color: #710096!important;
}

